
.uni {
    margin-bottom: 0px;
    border-bottom: 0px;

}

.logof img {
    height: 100%;
    padding: 5px

}

.logof {
    height: 250% !important;
    width: auto !important;
    background-color: white !important;
}


.foospace {

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('/img/main.jpg') no-repeat;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('/img/main.jpg') no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('/img/main.jpg') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('/img/main.jpg') no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('/img/main.jpg') no-repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('/img/main.jpg') no-repeat;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    text-align: center;
    
    background-color: #231f20;
    color: white;
}
.title{
    margin-top: 100px;
    
}
.title>h1{
    text-shadow:  3px 3px 9px black;
}
.dona {
    position: relative;
    top: 27px;
    margin-top: 75px;
    border-radius: 6px;
    border-color: transparent;
}

.padding-vh {
    margin-top: 27px;
}

.meta.img-responsive {
    margin:0 auto;
    width: auto;
    max-width: 300px;
    height: 200px;
}

.slider {
background: none !important;
}

.fa {
    color: #f8981d;
}

.uni-primary {
    background-color: #f8981d !important;

}

.logob {

    margin-top: -1.4em !important;
    margin-left: -1.25em !important;
    margin-bottom: -1em !important;
    background-color: white !important;
    float: left;

}

.logob img {
    height: 100%;
    padding: 5px
}



.unislct {
    margin: 1em;
    margin-top: 1.5em;
    border-radius: 5px;
    width: 100%;
    vertical-align: bottom;
}

.uni-aguadilla {
    background-color: #233e92 !important;
    color: white !important;
}
.uni-aguadilla img {
    height: 100%;
    padding: 5px;
}

.slide.aguadilla{
    background-image:linear-gradient(to bottom, #233e92 0%, #233e92 100%); 
}
.uni-arecibo {
    background-color: #faf374 !important;
    color: black !important;
}
.uni-arecibo img {
    height: 100%;
    padding: 5px;
    padding-top: 6px;

}

.uni-bayamon {
    background-color: #97b4de !important;
    color: white !important;
}
.uni-bayamon img{
    height: 93%;
    margin-top: 2px;

}

.uni-carolina {
    background-color: #233e92  !important;
    color: white !important;
}

.uni-cm {
    background-color: #9d8a49 !important;
    color: white !important
}

.uni-riopiedras {
    background-color: #ef3c43 !important;
    color: white !important;
}

.uni-ponce {
    background-color: #ef3e35 !important;
    color: white !important;
}

.uni-maya {
    background-color: #347337 !important;
    color: white !important;
}

.uni-humacao {
    background-color: #7a123e !important;
    color: white !important;
}

.uni-cayey {
    background-color: #2f8a42 !important;
    color: white !important;
}

.uni-utuado {
    background-color: #5c210d !important;
    color: white !important;
}

.donas {
    position: relative;
    top: 27px;
    margin-top: 300px;
    border-radius: 6px;
    border-color: transparent;
}

footer {
    padding-bottom: 20px;
}
