
.slider-handle {
    background:  url(/img/Mascotas-UPR-2.gif) no-repeat center;
    background-color: white;
    background-size: contain;
    background-size: 100%;
}
section.arecibo{
    background-image: url("/img/arecibo1.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    text-align: center;
    
    
    background-color: #231f20;
    color: white;
}
.fa.arecibo{
    color:  #ffff00;
    text-shadow: 4px 4px 1px lightgray;
  
}
