.slider-handle {
    background:  url(/img/Mascotas-UPR-6.gif) no-repeat center;
    background-color: white;
    background-size: contain;
}
.fa.rp {
    color: #e70033 ;
}
section.rp{
    background-image: url(/img/rp1.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    text-align: center;
    
    background-color: #231f20;
    color: white;
}