.slider-handle {
    background:  url(/img/Mascotas-UPR-8.gif) no-repeat center;
    background-color: white;
    background-size: contain;
}
section.maya{
    background-image: url("/img/mayaguez1.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    text-align: center;
    
    background-color: #231f20;
    color: white;
}
.fa.maya{
    color:  #347337;
}
